%html
  %head
    %title FHIR
    %link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css" media="screen, projection")
    %link(rel="stylesheet" href="/css/app.css" type="text/css" media="screen, projection")
  %body
    .container
      = yield
