%h1 Resource: #{@resource[:type]}

%style ul.elements { margin: 0; padding: 0 } .elements li { margin: 0; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; padding: 5px 10px; list-style-type: none;}
%ul.elements
  = partial :resource_element, collection: @resource[:elements]
